@CHARSET "UTF-8";

a {
	font-family: "arial", Georgia, Serif;
}

/* 背景图片 */
body {
	background: url(../images/wildflower.jpg) no-repeat center center fixed;
	/* background-repeat: no-repeat;
	background-size: 100% 100%; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* 图片淡入 */
/* img {
	-webkit-transition: opacity 3s ease-in-out;
	-moz-transition: opacity 3s ease-in-out;
	-o-transition: opacity 3s ease-in-out;
	transition: opacity 3s ease-in-out;
	opacity: 0;
	filter: alpha(opacity = 0);
} */

/* 字体颜色渐变 */
.text-gradient {
	display: inline-block;
	color: #FF0000;
	font-size: 1.7em;
	background-image: -webkit-gradient(linear, 0% 100, 100% 9, from(rgba(255, 55, 255, 1)),
		to(rgba(255,255,0, 1)));
/* 	background-image: -webkit-gradient(linear, 0% 100, 100% 9, from(rgba(255, 55, 255, 1)),
		to(rgba(12, 243, 9, 1))); */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: underline;
}
.text-gradient2 {
	display: inline-block;
	color: #FF0000;
	font-size: 1.7em;
	background-image: -webkit-gradient(linear, 0% 100, 100% 9, from(rgba(12, 243, 9, 1)),
		to(rgba(255, 55, 255, 1)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: underline;
}